name: tp3-is-28998

services:
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_DB: tp3_is
      POSTGRES_USER: tp3_28998
      POSTGRES_PASSWORD: tp3pwd_28998
    ports:
      - "5432:5432"
    volumes:
      - tp3_pgdata:/var/lib/postgresql/data
      - ./init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U tp3_28998 -d tp3_is"]
      interval: 5s
      timeout: 5s
      retries: 10

  xml-service:
    build:
      context: ..
      dockerfile: services/xml-service/Dockerfile
    container_name: xml-service
    env_file:
      - .env.docker
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "7001:7001"
    volumes:
      - ../services/xml-service/generated-xml:/app/generated-xml

  grpc-service:
    build:
      context: ..
      dockerfile: services/grpc-service/Dockerfile
    container_name: grpc-service
    env_file:
      - .env.docker
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "50051:50051"

  rpc-service:
    build:
      context: ../services/rpc-service-java
      dockerfile: Dockerfile
    container_name: rpc-service
    env_file:
      - .env.docker
    ports:
      - "9000:9000"

  processor:
    build:
      context: ..
      dockerfile: services/processor/Dockerfile
    container_name: processor
    env_file:
      - .env.docker
    environment:
      - PYTHONUNBUFFERED=1
    command: ["python", "-u", "processor.py"]
    depends_on:
      xml-service:
        condition: service_started
      rpc-service:
        condition: service_started
      webhook:
        condition: service_started
    volumes:
      - processor_tmp:/app/tmp

  webhook:
    build:
      context: ..
      dockerfile: services/processor/Dockerfile
    container_name: webhook
    env_file:
      - .env.docker
    command: ["python", "webhook_server.py"]
    ports:
      - "8000:8000"
    volumes:
      - processor_tmp:/app/tmp

  crawler:
    build:
      context: ..
      dockerfile: services/crawler/Dockerfile
    container_name: crawler
    env_file:
      - .env.docker
    depends_on:
      processor:
        condition: service_started
    volumes:
      - ../datasets:/app/datasets

  bi-service:
    build:
      context: ..
      dockerfile: services/bi-service/Dockerfile
    container_name: bi-service
    env_file:
      - .env.docker
    depends_on:
      grpc-service:
        condition: service_started
    ports:
      - "4000:4000"

volumes:
  tp3_pgdata:
  processor_tmp: